<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!../partials/head.html') %>
  </head>
  <body>
    <!-- <img src="assets/[image-name].[image-extension]]"/> -->
    <div class="grid-container full">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-6 large-6">
          <h1>Hello World!</h1>
        </div>
      </div>
    </div>
    <%= require('html-loader!../partials/footer.html') %>
  </body>
</html>